<div class="row mb-3">

  <div class="col-md-7 col-sm-7 col-8 border p-2">

    <div class="row mt-3 mb-2 no-gutters">

      <div class="col">
        <span class="my-0">{{(getPlayerByRef(currentPlayer?.playerRef) | async)?.name}}</span>
        <!-- matBadge="{{playerRank(currentPlayer)}}" matBadgeColor="accent"-->
        <!-- matBadgeOverlap="false"-->
      </div>

      <div *ngIf="currentRound !== undefined" class="col-2 text-center">
        <h3 class="my-0">
          {{currentPlayer?.throws[currentRound * 3] !== undefined ? currentPlayer?.throws[currentRound * 3] : '-'}}
        </h3>
      </div>
      <div *ngIf="currentRound !== undefined" class="col-2 text-center">
        <h3 class="my-0">
          {{currentPlayer?.throws[currentRound * 3 + 1] !== undefined ? currentPlayer?.throws[currentRound * 3 + 1] : '-'}}
        </h3>
      </div>
      <div *ngIf="currentRound !== undefined" class="col-2 text-center">
        <h3 class="my-0">
          {{currentPlayer?.throws[currentRound * 3 + 2] !== undefined ? currentPlayer?.throws[currentRound * 3 + 2] : '-'}}
        </h3>
      </div>

    </div>

    <div class="row align-items-end">
      <div class="col">
        <h2 *ngIf="gameDestinationCount"
            class="my-0 mat-primary-color">{{gameDestinationCount - currentPlayerCount}}</h2>
        <h4 *ngIf="currentPlayer" class="mb-1 mt-2">{{getPlayerAverage(currentPlayer) | number:'0.1-1'}}</h4>
      </div>
      <div *ngIf="currentPlayer" class="col">
        <svg-icon [svgStyle]="{ 'width.px':'20', 'fill':'white' }" src="assets/img/darts.svg"></svg-icon>
        <span>
          {{getTrows(currentPlayer)}}</span>
      </div>
      <div *ngIf="currentPlayer" class="col">
        <span class=""><mat-icon aria-hidden="false" aria-label="Runde">cached</mat-icon>
          {{currentRound + 1}}</span>
      </div>
      <div class="col text-right align-self-center">
        <img *ngIf="(getPlayerByRef(currentPlayer?.playerRef) | async)?.photoURL"
             [src]="(getPlayerByRef(currentPlayer?.playerRef) | async)?.photoURL" alt=""
             class="rounded-circle"
             height="45" width="45"/>
      </div>
    </div>

  </div>

  <!--  <div class="col-1 ">-->
  <!--    <div class="row">-->
  <!--      <div class="col text-center">-->
  <!--      <mat-chip-list>-->
  <!--        <mat-chip>{{currentRound+1}}</mat-chip>-->
  <!--      </mat-chip-list>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="col-md-5 col-sm-5 col-4">
    <cdk-virtual-scroll-viewport class="v-scroll-viewport" itemSize="47">

      <div *cdkVirtualFor="let player of waitingPlayers | async" class="row no-gutters p-1 border-bottom">
        <div class="col"><span>{{(getPlayerByRef(player?.playerRef) | async)?.name}}</span>
          <!--          matBadge="{{playerRank(player)}}" matBadgeColor="accent" matBadgeOverlap="false"-->
          <!--          matBadgePosition="above after"-->
          <!--          matBadgeSize="small"-->
          <img *ngIf="(getPlayerByRef(player?.playerRef) | async)?.photoURL"
               [src]="(getPlayerByRef(player?.playerRef) | async)?.photoURL" alt=""
               class="rounded-circle align-self-baseline float-right"
               height="20" width="20"/>
        </div>
        <div class="w-100"></div>
        <div class="col text-left">{{gameDestinationCount - getPlayerCount(player)}}</div>
        <div class="col text-right">{{getPlayerAverage(player) | number:'0.1-1'}}</div>
      </div>

    </cdk-virtual-scroll-viewport>
  </div>

</div>


<div class="row mb-3">
  <div class="col text-center">
    <button (click)="double()" [color]="countDouble ? typeColor('warn') : undefined" class="mat-button-wide"
            mat-raised-button>Double
    </button>
  </div>
  <div class="col text-center">
    <button (click)="triple()" [color]="countTriple ? typeColor('warn') : undefined" class="mat-button-wide"
            mat-raised-button>Triple
    </button>
  </div>
</div>
<div *ngFor="let i of [].constructor(7) , let x = index" class="row mb-3">
  <div class="col text-center">
    <button (click)="hit(x * 3 + 1)" class="mat-button-wide" color="primary"
            mat-raised-button>{{x * 3 + 1}}</button>
  </div>
  <div class="col text-center">
    <button (click)="hit(x * 3 + 2)" class="mat-button-wide" color="primary"
            mat-raised-button>{{x * 3 + 2}}</button>
  </div>
  <div class="col text-center">
    <button (click)="hit(x * 3 + 3)" *ngIf="x<6; else bull" class="mat-button-wide" color="primary"
            mat-raised-button>{{x * 3 + 3}}</button>
    <ng-template #bull>
      <button (click)="hit(25)" [disabled]="countTriple" class="mat-button-wide" color="primary"
              mat-raised-button>{{countDouble ? 'Bull’s Eye' : 'Bull'}}</button>
    </ng-template>
  </div>
</div>
<div class="row mb-3">
  <div class="col text-center">
    <button (click)="hit(0)" class="mat-button-wide" mat-raised-button>{{(isUlfMode | async) ? 'Ulf' : 'Daneben'}}</button>
  </div>
  <div class="col text-center">
    <button (click)="undo()" class="mat-button-wide" mat-raised-button>Undo</button>
  </div>
</div>

