<mat-progress-bar #progressBar *ngIf="progressValue!==0" [value]="progressValue"
                  mode="indeterminate"></mat-progress-bar>
<div class="row ">
  <div class="col border">

    <div class="row">
      <div class="col font-weight-bold">
        {{currentPlayer?.name}}
      </div>
      <div *ngIf="currentRound !== undefined" class="col">
        {{currentPlayer?.throws[currentRound * 3] !== undefined ? currentPlayer?.throws[currentRound * 3] : '-'}}
      </div>
      <div *ngIf="currentRound !== undefined" class="col">
        {{currentPlayer?.throws[currentRound * 3 + 1] !== undefined ? currentPlayer?.throws[currentRound * 3 + 1] : '-'}}
      </div>
      <div *ngIf="currentRound !== undefined" class="col">
        {{currentPlayer?.throws[currentRound * 3 + 2] !== undefined ? currentPlayer?.throws[currentRound * 3 + 2] : '-'}}
      </div>
    </div>

    <div class="row">
      <div *ngIf="currentPlayer" class="col font-weight-bold text-success">
        {{gameCount - currentPlayerCount}}<br>
        {{currentPlayerCount / getTrows(currentPlayer) | number}}
      </div>
    </div>
  </div>
  <div class="col">
    <div *ngFor="let player of players | async" class="row border">
      {{player.name}}<br>
      {{gameCount - player.throws.reduce(reducer)}}
      {{player.throws.reduce(reducer) / getTrows(player) | number}}
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
  </div>
  <div class="col">
    <!--    <button mat-raised-button>Triple</button>-->
  </div>
</div>
<div class="row mb-3">
  <div class="col text-center">
    <button (click)="double()" color="{{countDouble?'primary':''}}" mat-raised-button>Double</button>
  </div>
  <div class="col text-center">
    <button (click)="triple()" color="{{countTriple?'primary':''}}" mat-raised-button>Triple</button>
  </div>
</div>
<div *ngFor="let i of [].constructor(7) , let x = index" class="row mb-3">
  <div class="col text-center">
    <button (click)="hit(x * 3 + 1)" color="primary" mat-raised-button>{{x * 3 + 1}}</button>
  </div>
  <div class="col text-center">
    <button (click)="hit(x * 3 + 2)" color="primary" mat-raised-button>{{x * 3 + 2}}</button>
  </div>
  <div class="col text-center">
    <button (click)="hit(x * 3 + 3)" *ngIf="x<6; else bull" color="primary" mat-raised-button>{{x * 3 + 3}}</button>
    <ng-template #bull>
      <button (click)="hit(25)" [disabled]="countTriple" color="primary"
              mat-raised-button>{{countDouble ? 'Bull’s Eye' : 'Bull'}}</button>
    </ng-template>
  </div>
</div>
<div class="row mb-3">
  <div class="col text-center">
    <button (click)="hit(0)" mat-raised-button>Daneben</button>
  </div>
  <div class="col text-center">
    <button (click)="undo()" mat-raised-button>Undo</button>
  </div>
</div>

