<mat-toolbar color="primary">
  <span [routerLink]="['/']" class="cursor-pointer">Aurora Dart</span>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="game/new">Spiel Starten</button>
    <button mat-menu-item routerLink="player">Spieler</button>
    <button mat-menu-item routerLink="game">Spiele</button>
    <button (click)="goToIssues()" mat-menu-item>Bug gefunden?</button>
    <button (click)="login()" *ngIf="!(user | async); else exit" mat-menu-item>Login</button>
    <ng-template #exit>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </ng-template>
  </mat-menu>
  <span class="spacer"></span>
  <button (click)="doUpdate()" *ngIf="hasUpdate | async" mat-icon-button>
    <mat-icon color="warn">update</mat-icon>
  </button>
  <span class="mr-3">{{(user | async)?.displayName}}</span>
  <img *ngIf="(user | async)" [src]="(user | async)?.photoURL" alt="" class="rounded-circle align-self-center"
       height="40" width="40"/>
  <button [matMenuTriggerFor]="appMenu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
