<mat-toolbar *ngIf="!shrinkToolbar" color="primary">
  <span [routerLink]="['/']" class="cursor-pointer">Aurora Dart</span>
  <span flex></span>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="game/new">Spiel Starten</button>
    <button mat-menu-item routerLink="player">Spieler</button>
    <button mat-menu-item routerLink="game">Spiele</button>
  </mat-menu>
  <span class="spacer"></span>
  <button [matMenuTriggerFor]="appMenu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
