<div mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="data.name" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="data.team" matInput placeholder="Team">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Abbrechen</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Ok</button>
  <button *ngIf="data.id" (click)="onNoClick()" [routerLink]="['player', data.id, 'avatar']" mat-button>
    <mat-icon>portrait</mat-icon>
    Avatar
  </button>
</div>
