/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #222222;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #FCFCFC;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
//$candy-app-primary: mat-palette($mat-indigo);
//$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
//$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);
//
//// Include the default theme styles.
//@include angular-material-theme($candy-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-teal);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$custom-background-color: #333333;

$background: map-get($dark-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$theme: map_merge($dark-theme, (background: $background));

$primary: mat-color($dark-primary);
$accent: mat-color($dark-accent);
$warn: mat-color($dark-warn);

@include angular-material-theme($theme);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
//@import "root";
//@import "reboot";
@import "node_modules/bootstrap/scss/utilities";
//@import "utilities/background";
//@import "utilities/borders";
//@import "utilities/clearfix";
//@import "utilities/display";
//@import "utilities/embed";
//@import "utilities/flex";
//@import "node_modules/bootstrap/scss/utilities/float";
//@import "utilities/overflow";
//@import "utilities/position";
//@import "utilities/screenreaders";
//@import "utilities/shadows";
//@import "utilities/sizing";
//@import "utilities/stretched-link";
//@import "utilities/spacing";
//@import "utilities/text";
//@import "utilities/visibility";

.mat-primary-color {
  color: $primary;
}

.cursor-pointer {
  cursor: pointer;
}
